.card-img-overlay {
    opacity: 0;
    background-color: #00000033;
    transition: background-color 0.3s;
    transition: opacity 0.5s;
}

.navbar {
    background-color: #141414;
}

.card-img-overlay:hover{
    opacity: 100;
    background-color: #000000a1;
}